node_modules/
build/
release/
out/

tmp-appdata-loading/
tmp-appdata-visual/

.env
.env.local

*.db
*.sqlite
*.sqlite3

logs/
*.log

*.exe
*.msi
*.zip

.DS_Store
Thumbs.db
.vscode/
.idea/

fontes-originais-nao-empacotar/

public/fonts/
tmp-portable-hover-left.png
tmp-portable-hover-right.png